<!DOCTYPE html>
<html>
<head>
  <title>ann's internet home page</title>
</head>

<body>
  <h1>Ann Harter</h1>
  <h2><i>"on the internet"</i></h2>

  <p>I am learning to computer</p>
  <p>My favorite color is red.</p>
  <p>beep boop</p>
</body>

</html>
